# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DnpAssignments.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tolde\RiderProjects\DNPAssignments\DNPAssignments\.idea\.idea.DnpAssignments\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
